# Ignore configuration files that may contain sensitive information.
docroot/sites/*/local.settings*.php

# Ignore vi swp files
*.sw*
*.*~

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Operating Systems
.DS_Store
Thumbs.db

# Version Control Systems
CVS
.svn

# Editors.
._*
.tmp*
*~
*.gz
*.tgz
*.bak
.*.sw*

# Tools
.sass-cache
.unison

# PHP
error_log
error.log
tmp/
